pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
opencv-python>=4.8.0
gdown>=4.7.0
kaggle>=1.5.0
torch>=2.0.0
torchvision>=0.15.0
jupyter>=1.0.0

streamlit~=1.45.1
albumentations~=2.0.8
pillow~=11.2.1
seaborn~=0.13.2
scikit-learn~=1.6.1